@import "./colors.scss";
.TeamMembersContainer {
  padding: 20px;
  * {
    font-weight: 500;
  }
  h2 {
    max-width: 1000px;
    margin: 25px auto;
    font-family: "Goldman", cursive !important;
    text-transform: uppercase;
    font-size: 30px;
  }
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  .card {
    min-width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 15px;
    * {
      font-family: "Goldman", cursive !important;
    }
    clip-path: polygon(
      48px 0%,
      100% 0,
      100% calc(100% - 48px),
      calc(100% - 48px) 100%,
      0 100%,
      0% 48px
    );
    h3 {
      margin: 20px 0 0;
      font-size: 1.25rem;
    }
    img {
      clip-path: circle(50%);
      margin: 0 auto;
      width: 150px !important;
      height: auto !important;
      max-width: 472px !important;
      max-height: none !important;
      min-width: 0px !important;
      min-height: 0px !important;
    }
    span {
      opacity: 0.6;
      margin: 5px auto;
      text-align: center;
    }
  }
}
